.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight:bold;
  background-color: rgb(255, 186, 90);
  color: white;
  padding: 20px;
}

.label {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  background-color: cornflowerblue;
  color: white;
}

.number {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  background-color: cornflowerblue;
  color: white;
}

.calendar {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: cornflowerblue;
}

.calendar2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: cornflowerblue;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: cornflowerblue;
  width: auto;
  margin: auto;
  width: 300px;
}

.value {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: cornflowerblue;
  width: auto;
  margin: auto;
  width: 300px;
  
}

.black {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  width: auto;
  margin: auto;
  width: 600px;
  padding: 20px;
}

.red {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: rgb(203, 103, 103);
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(203, 103, 103);
  width: auto;
  margin: auto;
  width: 600px;
  padding: 20px;
}