.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight:bold;
  background-color: rgb(69, 78, 96);
  color: rgb(255, 243, 11);

}

.label {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  background-color: cornflowerblue;
  color: white;

  
}

.number {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  background-color: cornflowerblue;
  color: white;
  
}

.value {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: cornflowerblue;
  width: auto;
  margin: auto;
  width: 300px;
  
}