.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight:bold;
  background-color: rgb(255, 186, 90);
  color: white;
  padding: 20px;
}

.label {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  background-color: cornflowerblue;
  color: white;
}

.number {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  background-color: cornflowerblue;
  color: white;
}

.calendar {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: cornflowerblue;
}

.calendar2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: cornflowerblue;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: cornflowerblue;
  width: auto;
  margin: auto;
  width: 300px;
}

.amount {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: cornflowerblue;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: cornflowerblue;
  width: 300px;
  margin: auto;
}

.amount1 {
  text-align: center;
  margin: auto;
}

.value {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: cornflowerblue;
  width: auto;
  margin: auto;
  width: 300px;
  
}

.black {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  margin: auto;
  width: 100px;
}

.red {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: rgb(203, 103, 103);
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(203, 103, 103);
  margin: auto;
  width: 100px;
}

.yellow {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: rgb(203, 201, 103);
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(203, 201, 103);
  margin: auto;
  width: 100px;
}

.green {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: rgb(54, 185, 108);
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(54, 185, 108);
  margin: auto;
  width: 100px;
}

.blue {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: rgb(55, 108, 193);
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(55, 108, 193);
  margin: auto;
  width: 100px;
}

.card {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: cornflowerblue;
  width: auto;
  margin: auto;
  width: 600px;
  padding: 20px;
}

.white {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  margin: auto;
  width: 100px;
}

.grey {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: darkgrey;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: darkgrey;
  margin: auto;
  width: 100px;
}

.total {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: cornflowerblue;
  background-color: cornflowerblue;
  color: white;
  width: auto;
  margin: auto;
  width: 300px;
}